.military-img1 {
  background-size: cover;
  margin-top: 40px;
}
.military-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}
.military-section1-text1 {
  color: rgb(8, 8, 8);
  letter-spacing: 1px;
  font-weight: 550;
  font-size: 43px;
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
  align-self: center;
  border-bottom: 1px solid red;
  width: 43%;
}
.military-section1-text2 {
  width: 60%;
  color: #7c7b7b;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 40px;
  font-style: italic;
  text-align: center;
}
.military-img1 {
  width: 95%; 
  height: 200px;
}
.military-section2-img {
  width: 550px; 
  height: 360px;
}
.military-section2 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.military-section2-img-block {
  margin-left: 120px;
}
.military-section2-text-block {
  width: 50%;
}
.military-section2-text1 {
  color: #555;
  letter-spacing: 1px;
  font-family: "Arial", sans-serif;
  font-size: 13px;
}
.military-section2-text2 {
  color: rgb(8, 8, 8);
  letter-spacing: 1px;
  font-weight: 550;
  font-size: 43px;
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
  align-self: center;
}
.military-section2-text3 {
  width: 700px;
  text-align: justify;
  color: #666464;
  margin-top: 20px;
  font-size: 18px;
}
.military-section3 {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 670px;
  margin-left: 160px;
}
.military-section3-block {
  display: flex;
  width: 100%;
  height: 105px;
}
.text-block {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.text1 {
  color: rgb(8, 8, 8);
  letter-spacing: 1px;
  font-size: 23px;
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
}
.text2 {
  text-align: justify;
  color: #666464;
  font-size: 15px;
}
.military-section4 {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.military-section4-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.military-section4-text1 {
  text-align: justify;
  color: #666464;
  font-size: 18px;
}
.military-section4-text2 {
  color: rgb(8, 8, 8);
  letter-spacing: 1px;
  font-size: 43px;
  margin-top: 20px;
  font-weight: 550;
  font-family: "Times New Roman", Times, serif;
}
.military-section4-block {
  margin-top: 140px;
  justify-content: space-between;
  display: flex;
}
.military-section4-block1-img {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 112px;
  align-items: center;
}
.military-section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
}
.military-section5-text1 {
  text-align: justify;
  color: #666464;
  font-size: 18px;
}
.military-img1-family {
  width: 95%; 
  height: 330px;
}
.military-section2-img-block-family {
  width: 550px; 
  height: 300px; 
  margin-top: 40px;
}
.military-section5-text2 {
  color: rgb(196, 21, 21);
  letter-spacing: 1px;
  font-size: 43px;
  margin-top: 40px;
  font-weight: 550;
  font-family: "Times New Roman", Times, serif;
}
.schedule-military {
  width: 1200px; 
  height: 240px; 
  margin-top: 30px;
}
.military-section5-buttons {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.military-section5-button1 {
  width: 220px;
  height: 40px;
  border: 2px solid black;
  margin-right: 40px;
  justify-content: center;
  cursor: pointer;
}
.military-section5-button2 {
  width: 200px;
  height: 40px;
  border: 2px solid black;
  margin-right: 40px;
  justify-content: center;
  cursor: pointer;
}
.buttons {
  margin-left: 27px;
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 550;
}
.military-section5-button1:hover,
.military-section5-button2:hover {
  background-color: #070200;
  transition: background-color 0.3s ease;
}
.buttons:hover {
  color: aliceblue;
}
.military-section1-text1 {
  width: 930px;
}
.family-section4 {
  width: 100%;
  height: 1150px;
}
.family-section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.family-section4-text1 {
  text-align: justify;
  color: #666464;
  font-size: 18px;
}
.family-section4-text2 {
  margin-top: 30px;
  color: rgb(11, 11, 11);
  letter-spacing: 1px;
  font-size: 43px;
  font-weight: 550;
  font-family: "Times New Roman", Times, serif;
}
.family-container1 {
  width: 570px; 
  height: 365px;
}
.family-container {
    margin-top: 60px;
}
.military-img1-veteran {
  width: 95%; 
  height: 330px;
}
.military-section2-img-block-veteran {
  width: 550px; 
  height: 360px;
}
.military-section5-text2 {
  margin-top: 40px;
}
.military-section5-text1 {
  margin-top: 40px;
}
.section5-veteran {
  width: 1200px; 
  height: 240px; 
  margin-top: 30px;
}