<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{doctor.css}"/>
<link rel="stylesheet" th:href="@{main.css}"/>
<link rel="stylesheet" th:href="@{css/train-media-query.css}"/>
<link rel="stylesheet" th:href="@{scss/variables.scss}"/>
<link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
        rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Інформаційна система психологічної допомоги</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="test-section1">
    <img
            th:src="@{img-doctor/section1.png}"
            style="width: 435px; height: 238px; margin-top: 100px"/>
    <a class="test-section1-text1">Давайте знайдемо вам найкращого терапевта</a>
    <div class="test-section1-button">
        <a class="add" id="start">ПОЧАТИ (5 хв.)</a>
    </div>
    <div class="test-section1-block">
        <div class="test-section1-container">
            Ми запитаємо про ваші очікування від терапевта і терапії.
        </div>
        <div class="test-section1-container">
            Ми хочемо познайомитися з вами ближче, щоби ми могли порекомендувати
            вам найкращого терапевта.
        </div>
        <div class="test-section1-container">
            Будь-яка інформація, яку ви нам надаєте, захищена, ми не
            розголошуватимемо її.
        </div>
    </div>
</div>
<div class="test-question" id="whatShowed">
    <form id="test-form">
        <div class="question">
            <label for="q1">Який тип сесії вас цікавить?</label>
            <select id="q1" name="q1">
                <option value="0">Звичайна (для військовослужбовців)</option>
                <option value="0">Для ветеранів</option>
                <option value="0">Родич військовослужбовця</option>
            </select>
        </div>
        <div class="question">
            <label for="q2">1. Чи часто ви відчуваєте напруженість або тривогу?</label>
            <select id="q2" name="q2">
                <option value="1">Рідко</option>
                <option value="2">Іноді</option>
                <option value="3">Часто</option>
                <option value="4">Дуже часто</option>
            </select>
        </div>
        <div class="question">
            <label for="q3">2. Чи маєте ви труднощі зі сном?</label>
            <select id="q3" name="q3">
                <option value="1">Ні</option>
                <option value="2">Іноді</option>
                <option value="3">Часто</option>
                <option value="4">Постійно</option>
            </select>
        </div>
        <div class="question">
            <label for="q4">3. Чи відчуваєте ви емоційне виснаження?</label>
            <select id="q4" name="q4">
                <option value="1">Ні</option>
                <option value="2">Іноді</option>
                <option value="3">Часто</option>
                <option value="4">Постійно</option>
            </select>
        </div>
        <div class="question">
            <label for="q5">4. Чи відчуваєте ви радість або задоволення від життя?</label>
            <select id="q5" name="q5">
                <option value="1">Так</option>
                <option value="2">Не дуже</option>
                <option value="3">Ні</option>
                <option value="4">Іноді думаю про самогубство</option>
            </select>
        </div>
        <div class="question">
            <label for="q6">5. Чи були ви свідком або учасником подій, які викликають сильні емоційні
                переживання?</label>
            <select id="q6" name="q6">
                <option value="1">Ні</option>
                <option value="4">Так</option>
            </select>
        </div>
        <div class="question">
            <label for="q7">6. Які слова у вас асоціюються зі своїм життям?</label>
            <select id="q7" name="q7">
                <option value="4">Смерть</option>
                <option value="2">Буденність</option>
                <option value="3">Занепокоєння</option>
                <option value="1">Радість</option>
            </select>
        </div>
        <div class="question">
            <label for="q8">7. Як би ви оцінили свій настрій протягом останнього тижня?</label>
            <select id="q8" name="q8">
                <option value="2">Нейтральний</option>
                <option value="1">Переважно позитивний</option>
                <option value="4">Негативний</option>
            </select>
        </div>
        <div class="question">
            <label for="q9">8. Як ви реагуєте на стресові ситуації?</label>
            <select id="q9" name="q9">
                <option value="1">Нейтральний</option>
                <option value="3">Добре</option>
                <option value="4">Агресивно</option>
            </select>
        </div>
        <div class="question">
            <label for="q10">9. Чи маєте ви повторювані думки, які вас турбують?</label>
            <select id="q10" name="q10">
                <option value="4">Постійно про них думаю</option>
                <option value="3">Часто буває</option>
                <option value="1">Ніколи не буває</option>
                <option value="2">Іноді</option>
            </select>
        </div>
        <div class="question">
            <label for="q11">10. Чи є у вас підтримка з боку друзів, родини або колег по службі?</label>
            <select id="q11" name="q11">
                <option value="4">Ні</option>
                <option value="3">Дуже мало знайомих</option>
                <option value="1">Є багато друзів та родичів</option>
                <option value="2">Є друзі</option>
            </select>
        </div>
        <div class="button-submit" id="submit-btn"><a class="more">Отримати результат</a></div>
    </form>
    <div class="test-question" id="whatShowed1">
        <img
                th:src="@{img-train-test/tech-choco.png}"
                style="width: 660px; height: 560px; align-self: center; margin-left: 400px;"
        />
        <div class="sorry-text" style="margin-left: 450px;">Вибачте будь ласка, сайт ще в розробці, працюємо над
            удосконаленням!
        </div>
    </div>
</div>
<div th:replace="footer :: footer"></div>
<div class="section14-block-footer">
    <div class="footer-under1">© Створено під керівництвом xie</div>
    <div class="footer-under2">
        2024 © Платформа "Requiem". Всі права захищено.
    </div>
</div>
<script th:src="@{train.js}"></script>
</body>
</html>
